@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thumb-primary-400::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary.400');
  }
  .scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: theme('colors.gray.100');
  }
} 
html {
  scroll-behavior: smooth;
} 
